@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: 30px;
      background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      margin:auto;
      font-size: 1.5rem;
      padding:5px;
      height:300px;
      width:500px;
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    thead{
        color:black;
        background-color: #6e75d2;
        justify-content: center;
        text-align: center;
    }
    .detailCardHead{
        color:black;
        background-color: #6e75d2;
        justify-content: center;
        text-align: center;
        font-size:26px;
    }
    td{
        border: 1px solid rgba( 155, 155, 155, 0.98 );
        width:300px;
        height:83px;
        font-size: 1.5rem;
    }
    tr{
        border: 1px solid rgba( 155, 155, 155, 0.98 );
        background-color: rgba( 255, 255, 255, 0.25 );
        font-size: 1.5rem;
    }
    @layer components {
        .select2-dropdown {
          @apply rounded-b-lg shadow-md;
        }
        .select2-search {
          @apply border border-gray-300 rounded;
        }
        .select2-results__group {
          @apply text-lg font-bold text-gray-900;
        }
        /* ... */
      }
  }